
ML_OVINOS/.ipynb_checkpoints/run_coleta-checkpoint.py
ML_OVINOS/.ipynb_checkpoints/coleta_dados-checkpoint.ipynb
ML_OVINOS/.ipynb_checkpoints/coleta_dados-checkpoint.py
ML_OVINOS/.ipynb_checkpoints/db-checkpoint.ipynb
ML_OVINOS/.ipynb_checkpoints/db-checkpoint.py
ML_OVINOS/.ipynb_checkpoints/EAD1-checkpoint.ipynb
ML_OVINOS/.ipynb_checkpoints/extrator_novo-checkpoint.ipynb
